{% extends 'menu.html' %}

{% block main %}
{% load static %}


<div class="container-fluid">
    <div class="card-header  text-light">
        <div class="row p-3" style="background: gray;">
            <div class="col-md-8">
                <h3 class="font-weight-bold">Mantenimiento de Signos</h3>
            </div>
            <div class="col-md-4 ">
                <a href="{% url 'base:paciente' %}" class="btn btn-primary float-right">Cancelar</a>
            </div>
        </div>
    </div>
    <div class="card-body border rounded-top border-dark">


        <div class="col-md-12">





            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {% if form.errors %}
                <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
                    <strong> {{ form.errors}}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}



                <div class="card mx-5" style="">
                    <!-------Aqui va el color background-color: #EBF5FB---------->
                    <div class="row mx-2 my-3 form-group">
                        <div class="col-9 font-weight-bold text-dark">
                            <div class="row">
                                <div class="form-group col-12 col-md-6">
                                    <label for="{{form.paciente.id_for_label }}">Paciente: </label>
                                    {{ form.paciente }}
                                </div>
                                <div class="form-group col-12 col-md-6">
                                    <label for="{{form.estatura.id_for_label }}">Estatura: </label>
                                    {{ form.estatura }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-12 col-md-6">
                                    <label for="{{form.peso.id_for_label }}">Peso : </label>
                                    {{ form.peso }}
                                </div>
                                <div class="form-group col-12 col-md-6">
                                    <label for="{{form.masa.id_for_label }}">Masa Corporal : </label>
                                    {{ form.masa }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-12 col-md-6">
                                    <label for="{{form.temperatura.id_for_label }}">Temperatura : </label>
                                    {{ form.temperatura }}
                                </div>
                                <div class="form-group col-12 col-md-6">
                                    <label for="{{form.frecRespira.id_for_label }}">Frecuencia Respiratoria : </label>
                                    {{ form.frecRespira }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-12 col-md-6">
                                    <label for="{{form.frecCard.id_for_label }}">Frecuencia Cardiaca : </label>
                                    {{ form.frecCard }}
                                </div>
                                <div class="form-group col-12 col-md-6">
                                    <label for="{{form.porGraCor.id_for_label }}">% Grasa Corporal : </label>
                                    {{ form.porGraCor }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-12 col-md-6">
                                    <label for="{{form.porMasaMus.id_for_label }}">% Masa Muscular : </label>
                                    {{ form.porMasaMus }}
                                </div>
                                <div class="form-group col-12 col-md-6">
                                    <label for="{{form.precionArt.id_for_label }}">Precion Arterial : </label>
                                    {{ form.precionArt }}
                                </div>
                            </div>
                            
                            <!-- <div class="row">
                                <div class="form-group col-12 col-md-6">
                                    <label for="{{form.doctor.id_for_label }}">Medico: </label>
                                    {{ form.doctor }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-12 col-md-6">
                                    <label for="{{form.fecha.id_for_label }}">Fecha Cita: </label>
                                    {{ form.fecha }}
                                </div>

                            </div>
                            <div class="row">
                                <div class="form-group col-12 col-md-6">
                                    <label for="{{form.hora.id_for_label }}">Hora Cita: </label>
                                    {{ form.hora }}
                                </div>

                            </div>
                            <div class="row">
                                <div class="form-group col-12 col-md-6">
                                    <label for="{{form.estado.id_for_label }}">Estado: </label>
                                    {{ form.estado }}
                                </div>
                            </div> -->


                        </div>

                    </div>
                </div>

                <div class=" form-group row justify-content-center my-4">
                    <div class="col-4 col-md-2">
                        <a href="{% url 'base:cita' %}"><input class="btn bg-danger w-100 text-light float-right"
                                value="Cancelar"></input></a>
                    </div>
                    <div class="col-4 col-md-2">
                        <button type="submit" class="btn botones w-100 float-left">Guardar</button>
                    </div>
                </div>



            </form>


        </div>
    </div>
</div>

{% endblock main %}