*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --primary: #558F88;
    --sup: #E3E9E0;
    --grey: #efefef;
}

body{
    overflow: hidden;
    font-weight: 300;
    color: var(--grey);
}



.titulo_bold{
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    /* Light */
    color: #FFFFFF;
}
.botones{
    color: #fff;
    background-color: rgba(76, 194, 166, 0.81);    
}
.paragraph_bold{
    /* Paragraph Bold */

    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    /* identical to box height */

    /* Dark */
    color: #000000;

}
.paragraph_light{
    /* Paragraph Bold */

    font-family: Muli;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    /* Dark */
    color: #000000;
}

.bg-primary { background-color: var(--primary) !important; }
.bg-light { background-color: var(--sup) !important; }

#sidebar-container{
    min-height: 100vh;
}

#sidebar-container .logo{
    padding: 0.875rem 1.25rem;
}

#sidebar-container .menu {
    width: 15.5rem;
}

a:hover {
    text-decoration: none;
}

.avatar {
    max-width: 35px;
}

.foto{
    max-width: 200px;
}

.foto:hover{
    transform: scale(1.1);
    cursor: -moz-zoom-in;
}

#content {
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
}

#sidebar-container .menu a:hover{
    margin-left: 25px;
    background: #62A68D;
    color: red;
}


#sidebar-container .menu a{
    border-bottom: 1px solid #fff;
}

.container .pac{
    background: #8ED8C6;
}

.container .ef:hover{
    transform: scale(1.1);
    cursor: -moz-zoom-in;
}


.container .fopa{
    background: #37B798;
}

.container .cita{
    background: #B5D8A5;
}

.container .foci{
    background: #98D881;
}

.container .agen{
    background: #64E1E9;
}

.container .foag{
    background: #81D8A4;
}

.container .conf{
    background: #5099EF;
}

.container .focon{
    background: #3866AB;
}

.container .ima{
    margin-left: 70%;
}

