{% extends "menu.html" %}

{% block main %}
{% load static %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="blue">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Mantenimientos</a></li>
                        <li class="breadcrumb-item active " aria-current="page">Doctor</li>                        
                    </ol>
                </nav>
            </div>
            <div class="container">
                <div class="table-responsive-sm"><br>
                    <form class="row" style="margin-bottom:5px">
                        <div class="col-5 col-md-3">
                            <input class="form-control mr-2" placeholder="Nombre a Buscar"
                            name="nombre" value={{nombre}}>
                        </div>
                        <div class="col-2 col-md-1 justify-content-start">
                            <button type="submit" class="btn botones float-md-right float-left">Buscar</button>
                        </div>
                        <div class="col-5 col-md-8 justify-content-end">
                            <a href="{% url 'base:doctor' %}" class="btn botones float-right w80"><b>Nuevo</b></a>
                        </div>
                    </form>
                    <table class="table table-bordered table-hover">
                        <thead>


                            <thead class="thead-light">
                                <th scope="col" class="text-center">ID</th>
                                <th scope="col" class="text-center">Foto</th>                                
                                <th scope="col" class="text-center">Nombres</th>
                                <th scope="col" class="text-center">Sexo</th>
                                <th scope="col" class="text-center">Ciudad</th>
                                <th scope="col" class="text-center">Email</th>
                                <th scope="col" class="text-center">Consultoria</th>                                
                                <th scope="col" class="text-center">Duracion</th>
                                <th scope="col" class="text-center">Acción</th>
                            </thead>
                        </thead>
                        <tbody id="tabla">
                            {% for data in datos %}
                            <tr>
                                <th class="text-center">{{ data.id }}</th>
                                {% if  data.foto %}
                                <td class="text-center"><img src="{{ data.foto.url }}" class="img rounded-circle"
                                        width="40px" height="40px"></td>
                                {% else %}
                                <td class=" text-center"><img src="{% static 'img/sinfoto.png' %}"
                                        class="img-thumbnail rounded-circle" width="40px" height="40px"></td>
                                {% endif %}                                
                                <td class="text-center">{{ data.nombre | capfirst }} &nbsp
                                    {{ data.apellido | capfirst }}</td>
                                {% if data.sexo == 'M' %}
                                <td class="text-center"><span
                                        class="badge badge-pill badge-success">{{data.sexo}}</span>
                                </td>
                                {% else %}
                                <td class="text-center"><span class="badge badge-pill badge-danger">{{data.sexo}}</span>
                                </td>
                                {% endif %}
                                <td class="text-center">{{data.ciudad.descripcion}}</td>
                                <td class="text-center">{{data.email}}</td>
                                <td class="text-center">{{data.consultoria}}</td>                                
                                <td class="text-center">{{ data.duracion }} min</td>
                                <td style="width:130px" class="text-center">
                                    <a href="{% url 'base:doctor_edit' data.id %}" class="btn btn-warning btn-sm w-25">
                                        <span class='fa fa-edit fa-lg'></span>
                                    </a>
                                    <a href="#" class="btn btn-danger btn-sm w-25" rel="action"
                                        data-json='{"accion":"elim" ,"id":"{{data.id}}"}'>
                                        <span class='fa fa-trash-o fa-lg'></span>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <!-- Menú de paginación -->
                    <!-- Fin del pagineo -->
                    <div class="row">
                        <div class="col-4 float-left">
                            <label class="text-muted">
                                Mostrando 3 de {{ datos | length }} registros
                            </label>
                        </div>
                        <div class="col-4"></div>
                        <div class="col-4">
                            {% if is_paginated %}
                            <nav aria-label="..." class="float-right">
                                <ul class="pagination justify-content-center">
                                    {% if page_obj.has_previous %}
                                    <li class="page-item ">
                                        <a class="page-link"
                                            href="?nombre={{nombre}}&page={{ page_obj.previous_page_number }}">Previous</a>
                                    </li>
                                    {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                    </li>
                                    {% endif %}
                                    {% for i in paginator.page_range %}
                                    {% if i <= page_obj.number|add:2 and i >= page_obj.number|add:-2 %}
                                    {% if page_obj.number == i %}
                                    <li class="page-item active" style="pointer-events:none">
                                        <a href="#" class="page-link">{{ forloop.counter }}</a>
                                    </li>
                                    {% else %}
                                    <li class="page-item">
                                        <a href="?page={{ forloop.counter }}{{ url }}"
                                            class="page-link">{{ forloop.counter }}</a>
                                    </li>
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                    <li class="page-item ">
                                        <a class="page-link"
                                            href="?nombre={{nombre}}&page={{ page_obj.next_page_number }}">Next</a>
                                    </li>
                                    {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Next</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>
{% endblock %}
{% block frmodal %}
<!-- inicio formulario Modal para Eliminar -->
<div class="modal fade" id="myModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="frmEliminar" id="frmEliminar" method="POST" action="{% url 'base:doctor_delete' 0 %} ">
                {% csrf_token %}
                <div class="modal-header bg-primary text-light">
                    <h3 class="modal-title ml-5">Mensaje Del Sistema</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" id="id" value="">
                    <input type="hidden" name="action" value="elim">
                    <div class="h3 text-center">
                        <label class="text-primary">¿Esta seguro de eliminar el paciente?</label><br>
                        <span class="text-light badge" id="descripcion"></span><br>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Eliminar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Final Formulario Modal-->
{% endblock frmodal %}
{% block jscript %}
<script>
    $(function () {              
        $('#tabla').on('click', 'a[rel="action"]', function () {            
            let data = $(this).data('json'),
                action = data.accion,
                id = data.id;  
            alert(action + id)          
            let desc = $(this).parents('tr').children('td').eq(0).html();            
            $('#descripcion').html(desc);
            alert(id)
            $('#frmEliminar #id').val(id);
            $('#myModal').modal('show');
            return;
        });
    })
</script>
{% endblock %}