{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="blue">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Mantenimientos</a></li>
                        <li class="breadcrumb-item active " aria-current="page">Empleados</li>
                        <!--<button class="btn mx-auto"><span class="material-icons md-18">arrow_back_ios</span></button>-->
                    </ol>
                </nav>
            </div>
            <div class="container">                
                <div class="row">
                    <span class="text-muted">Datos generales</span>                    
                </div>
                <form class="form-group"></form>
            </div>
        </div>
        <!--<p class='alert alert-danger'>Si No hay clientes registrados presenta esta alerta</p>-->
    </div>
</div>
{% endblock %}